/.idea/.idea.CramerSolve/.idea/.gitignore
/CramerSolve/obj/Debug/net9.0/linux-x64/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/CramerSolve/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/CramerSolve/obj/Debug/net9.0/linux-x64/apphost
/CramerSolve/bin/Debug/net9.0/linux-x64/CramerSolve
/CramerSolve/obj/Debug/net9.0/linux-x64/CramerSolve.AssemblyInfo.cs
/CramerSolve/obj/Debug/net9.0/CramerSolve.AssemblyInfo.cs
/CramerSolve/obj/Debug/net9.0/linux-x64/CramerSolve.AssemblyInfoInputs.cache
/CramerSolve/obj/Debug/net9.0/CramerSolve.AssemblyInfoInputs.cache
/CramerSolve/obj/Debug/net9.0/linux-x64/CramerSolve.assets.cache
/CramerSolve/CramerSolve.csproj
/CramerSolve.csproj
/CramerSolve/obj/Debug/net9.0/linux-x64/CramerSolve.csproj.CoreCompileInputs.cache
/CramerSolve/obj/Debug/net9.0/linux-x64/CramerSolve.csproj.FileListAbsolute.txt
/CramerSolve/obj/CramerSolve.csproj.nuget.dgspec.json
/obj/CramerSolve.csproj.nuget.dgspec.json
/CramerSolve/obj/CramerSolve.csproj.nuget.g.props
/obj/CramerSolve.csproj.nuget.g.props
/CramerSolve/obj/CramerSolve.csproj.nuget.g.targets
/obj/CramerSolve.csproj.nuget.g.targets
/CramerSolve/bin/Debug/net9.0/linux-x64/CramerSolve.deps.json
/CramerSolve/bin/Debug/net9.0/linux-x64/CramerSolve.dll
/CramerSolve/obj/Debug/net9.0/linux-x64/ref/CramerSolve.dll
/CramerSolve/obj/Debug/net9.0/linux-x64/refint/CramerSolve.dll
/CramerSolve/obj/Debug/net9.0/linux-x64/CramerSolve.dll
/CramerSolve/obj/Debug/net9.0/linux-x64/CramerSolve.GeneratedMSBuildEditorConfig.editorconfig
/CramerSolve/obj/Debug/net9.0/CramerSolve.GeneratedMSBuildEditorConfig.editorconfig
/CramerSolve/obj/Debug/net9.0/linux-x64/CramerSolve.genruntimeconfig.cache
/CramerSolve/obj/Debug/net9.0/linux-x64/CramerSolve.GlobalUsings.g.cs
/CramerSolve/obj/Debug/net9.0/CramerSolve.GlobalUsings.g.cs
/CramerSolve/bin/Debug/net9.0/linux-x64/CramerSolve.pdb
/CramerSolve/obj/Debug/net9.0/linux-x64/CramerSolve.pdb
/CramerSolve/bin/Debug/net9.0/linux-x64/CramerSolve.runtimeconfig.json
/CramerSolve.sln
/.idea/.idea.CramerSolve/.idea/encodings.xml
/.idea/.idea.CramerSolve/.idea/indexLayout.xml
/CramerSolve/obj/project.assets.json
/obj/project.assets.json
/CramerSolve/obj/project.nuget.cache
/obj/project.nuget.cache
/CramerSolve/obj/project.packagespec.json
/CramerSolve/obj/rider.project.model.nuget.info
/.idea/.idea.CramerSolve/.idea/vcs.xml
